.obsidian

Attachments/Resume.pdf

General/Nicknames.md
General/Personal Info.md
General/Project Ideas.md
General/Archgenesis.md
General/Anime List.md
General/TODO.md
General/Learn.md
General/Remember.md

Notes.md